@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-sidebar > div {
	background-color: #002350;
}

.custom-sidebar-item {
	color: white;
	background-color: darkblue;
	/* Optionally, you can add more styles, such as hover effects */
}

.custom-sidebar-item:hover {
	background-color: navy;
}

.active-sidebar-item {
	background-color: #d9b800;
}
